	<div class="login-page bk-img" style="background-image: url(/images/login-bg.jpg);">
		<div class="form-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h1 class="text-center text-bold text-light mt-4x">Register</h1>
						<div class="well row pt-2x pb-3x bk-light">
							<div class="col-md-8 col-md-offset-2">
								<form action="/register" class="mt" method="post">

									<label for="username" class="text-uppercase text-sm">Your name</label>
									<input type="text" placeholder="Name" class="form-control mb" name="username">
									<label for="email" class="text-uppercase text-sm">Your email</label>
									<input type="text" placeholder="Email" class="form-control mb" name="email">
									<label for="yob" class="text-uppercase text-sm">Year of birth</label>
									<input type="text" placeholder="Year of birth" class="form-control mb" name="yob">		
									<label for="password" class="text-uppercase text-sm">Password</label>
									<input type="password" placeholder="Password" class="form-control mb" name="password">
									<label for="cpassword" class="text-uppercase text-sm">Confirm password</label>
									<input type="password" placeholder="Confirm password" class="form-control mb" name="cpassword">									
									<input type="hidden" name="_csrf" value="<%= _csrf %>" />
									<button class="btn btn-primary btn-block" type="submit">Submit</button>
								</form>
							</div>
						</div>
						<div class="text-center text-light">
							<a href="/login" class="text-light">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>