<h2>Create Customer</h2>
<form action="/customer/create" method="POST">
	<input type="text" placeholder="Name" name="name" required />
	<input type="text" placeholder="Email" name="email" />
	<input type="text" placeholder="State" name="state" />
	<input type="submit"  value="Create customer" />
</form>